---
import { ACCESS_TOKEN_KEY } from "@utils/const";
import { getUser, type ChoreRotation } from "@utils/redis";
import classes from "classnames";
import { ViewTransitions } from "astro:transitions";
import type { User } from "node-groupme";

interface Props {
  title: string;
  user?: User;
  rotations: ChoreRotation[];
}

const { title, user, rotations } = Astro.props;

const hasRotations = rotations.length > 0;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header transition:name="header">
      <nav class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="/"
            ><img src="/android-chrome-512x512.png" />Dishbot</a
          >
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <div
              class={classes("navbar-item", {
                "has-dropdown is-hoverable": hasRotations,
              })}
            >
              <a
                class={classes({ "navbar-link": hasRotations })}
                href="/chore-rotation/">Rotations</a
              >
              {
                hasRotations && (
                  <div class="navbar-dropdown">
                    {rotations.map((rotation) => (
                      <a
                        class="navbar-item"
                        href={`/chore-rotation/${rotation.id}/`}
                      >
                        {rotation.details.name}
                      </a>
                    ))}
                  </div>
                )
              }
            </div>
          </div>
          {
            user && (
              <div class="navbar-end">
                <div class="navbar-item">{user.name}</div>
              </div>
            )
          }
        </div>
      </nav>
    </header>
    <slot />
  </body>
</html>
